<ul class="dropdown-menu" ng-show="isOpen()" ng-style="{top: position.top+'px', left: position.left+'px', width: '100%'}" style="display: block;" role="listbox" aria-hidden="{{!isOpen()}}">
    <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index, $event)" role="option" id="{{match.id}}">
        <div ghs-typeahead-match index="$index" match="match" reload="::forceReload(value)" query="query" template-url="::templateUrl"></div>
    </li>
</ul>
