body{
    font-family:helvetica, ariel;
    font-size: 14px;
}

code {
    background-color: rgba(246, 246, 246, .9);
    display:block;
    padding: 10px;
    margin:10px;
}

button {
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-width: 2px;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    background: transparent;
    border-color: #0f3d82;
    color: #0f3d82;
    transition-property: background, border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

input {
    padding: 5px;
    margin: 5px;
    border-color: #0f3d82;
    color: #0f3d82;
}

button:hover, button:focus {
    color:white;
    background-color: #0f3d82;
}


.dropdown-menu .active {
    color:white;
    background-color: #0f3d82;    
}

.dropdown-menu {
    position: absolute;
    color: #0f3d82;
    margin-top: 0;
    background-color: white;
    max-width: 250px;
    -webkit-box-shadow: 0px 17px 44px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 17px 44px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 17px 44px -8px rgba(0,0,0,0.75);
    list-style:none;
    padding-left:0;
}

.dropdown-menu li {
    padding: 10px;
    color: #0f3d82;
}

.content .dropdown-menu>.active>a {
    background-color: #0f3d82;
}

.content h2 {
    margin-bottom: 20px;
    color: #3e6db3;
}

.eventPopover div{
    display: inline-block;
    padding: 30px;
    margin: 15px;
    border: solid 2px;
    border-color: #0f3d82;
    color: #0f3d82;
}

.language-markup .tag {
    display:block;
    margin-left: 5px;
}

.language-markup .tag:first-child{
    display:inline-block;
}

.tab-pane {
    margin:20px;
}


.popoverButton {
    margin: 10px;
}